
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Research for Good</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="u47" class="text">
                    <span style="font-family:'Asap';font-weight:400;color:#FFFFFF;">RESEARCH</span>
                    <br/>
                    <span style="font-family:'Asap';font-weight:400;color:#FFFFFF;">FOR</span><span style="font-family:'Asap';font-weight:400;color:#333333;">&nbsp;</span><span style="font-family:'Asap Bold', 'Asap';font-weight:700;color:#00CC99;">GOOD</span>
                </div>
              
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Search", "Projects")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                            <a data-toggle="dropdown" id="projectLink">Projects</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Search", "Search", "Projects")</li>
                                <li>@Html.ActionLink("Create New", "Create","Projects")</li>
                                @{ Html.RenderAction("IsAdmin", "Layout"); }
                            </ul>
                    </li>             
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Create new account", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                </li>
                                <li>

                                    @Html.ActionLink("Configurations", "Index", "Configurations")
                                </li>
                            </ul>
                        }
                    @Html.Partial("_LoginPartial")
                </ul>
               
            </div>
               
                
            </div>
        </div>
 
    <div class="container body-content">
        @RenderBody()
        <hr />
      
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Shared")
    @Html.Partial("~/Views/Shared/_InfoModals.cshtml");

    @RenderSection("scripts", required: false)
    <div id="footer">
        <div id="images">
            <img src="~/Content/img/eap.png" class="img_logotype_eap" />
            <img src="~/Content/img/cfea.png" class="img_logotype_cfea" />
            <img src="~/Content/img/gpp.png" class="img_logotype_gpp" />
        </div>
        <div id="projected_by"><span>website designed by volunteers of EA Poland</span></div>
    </div>
    </div>
</body>
</html>
