
@model Web.Models.View.DetailsView

@{
    ViewBag.Title = "Details for "+ Model.ProjectModel.Title;
}

<h2>@Model.ProjectModel.Title</h2>

<div>
    @Html.Partial("~/Views/Projects/Partials/_ProjectDetail.cshtml", Model.ProjectModel )
</div>

<div class="editHidden" id="@Model.ProjectModel.Id">
    <div class="project-list-horizontal">
        <hr />
        @using (Ajax.BeginForm("Edit", "Projects", new { id = Model.ProjectModel.Id }, new AjaxOptions() { OnSuccess = "return reloadPage()" }, new { onsubmit = "return onBeforeSubmit(this);", }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("~/Views/Projects/Partials/_EditCreate.cshtml", Model.ProjectModel)
        }
    </div>
</div>


@if (Model.CanEdit == true)
{
    <input type="button" value="Edit" modal-id="@Model.ProjectModel.Id" class="btn btn-default editButton" />
    using (Html.BeginForm("Delete", "Projects", new { id = Model.ProjectModel.Id }, FormMethod.Post, new { id = "delete-button" }))
    {
        @Html.AntiForgeryToken();
        <input type="submit" value="Delete" class="btn btn-default" />
    }
}

@if (Model.CanExpressInterest ==  true)
{
<div class="form-group" id="express-interes-form">
    <input type="submit" value="Express interest" class="btn btn-default express_interest" id="express_interest-button"/>

    <div style="display:none" id="express-interest-form">
        <div>
            @using (Ajax.BeginForm("ExpressInterest", "Projects", new { projectId = Model.ProjectModel.Id }, new AjaxOptions() { OnSuccess = "OnSumbitInterest" }))
            {
                @Html.AntiForgeryToken();

                @Html.Partial("~/Views/Projects/Partials/_ExpressInterest.cshtml", new Web.Models.View.ExpressInterestViewModel() { ProjectId = Model.ProjectModel.Id, ProjectName = Model.ProjectModel.Title })
                <div><input type="submit" value="Send" class="btn btn-default" /></div>
            }
        </div>
    </div>
</div>
}

<div id="approve-modal-content">
</div>

<div class="modal fade" id="infoProjectListModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <<div class="modal-dialog">
        <div class="modal-content">
            <div id="modal-projectlist-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/create")
    @Scripts.Render("~/bundles/jquerajax")
    @Scripts.Render("~/bundles/Details")
@Scripts.Render("~/bundles/Approve")
<script>
    ShowEditModal();
</script>
<script>
    ShowExpressInterestModal();
</script>
}

