@model Web.DAL.Project

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Project</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProjectArea)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ProjectArea)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SpecificProjects)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SpecificProjects)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Impact)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Impact)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SuitableLevel)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SuitableLevel)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Skills)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Skills)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SourceLink)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SourceLink)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SuggestedReading)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SuggestedReading)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SuggestedMethods)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SuggestedMethods)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsApproved)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IsApproved)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AspNetUsers.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cause.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cause.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SuitableSubject.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SuitableSubject.Description)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
