@model Web.Models.View.MainSearchResults
@using PagedList.Mvc;

@{
    ViewBag.Title = "SearchResults";
}


@section Navbar{
    <div class="container nav-container">

    <div id="search">
        @using (Html.BeginForm("Search", "Projects", FormMethod.Post, new { }))
        {
            <div class="row">
                <div class="col-md-4">
                    <span class="h2">
                        Search Results
                    </span>
                </div>

                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.SearchModel.CauseId, (SelectList)ViewBag.Cause)
                </div>
                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.SearchModel.SubjectId, (SelectList)ViewBag.SuitableSubject)
                </div>

                <div class="col-md-2">
                    @Html.DropDownListFor(model => model.SearchModel.LevelId, (SelectList)ViewBag.Level)
                </div>
                <input type="hidden" name="page" id="page" value="1" />
                <div class="col-md-2">
                    <button class="btn btn-default " type="submit">Search</button>
                </div>
            </div>
        }
    </div>
</div>



   

}

<div class="section1">
    <div class="container-fluid">

        <div class="container search-results">

            @foreach (var item in Model.SearchResults)
            {
                <div class="row">
                    <h3>@Html.DisplayFor(model => item.Title)</h3>
                    <br />
                    <p><strong>Cause: </strong>@string.Join(", ", item.Cause.ToArray())</p>
                    <p><strong>Suitable subjects: </strong>@string.Join(", ", item.Subjects.ToArray())</p>
                    <p><strong>Suitable Level: </strong>@string.Join(", ", item.Level.ToArray())</p>
                    <p><strong>Added by: </strong>@Html.DisplayFor(model => item.AddedBy)</p>
                    <p><strong>Date: </strong>@Html.DisplayFor(model => item.Date)</p>
                    <hr>
                </div>
            }

            <div class="row center">
                View more projects
                Page @(Model.SearchResults.PageCount < Model.SearchResults.PageNumber ? 0 : Model.SearchResults.PageNumber) of @Model.SearchResults.PageCount

                @Html.PagedListPager(Model.SearchResults, page => Url.Action("Search",new { page }))
            </div>
        </div>



    </div>
</div>

@section Scripts{
<script type="text/javascript">
    $(".search-results a").on("click", function (event) {
        event.preventDefault();
        var pageNum = this.href.substring(this.href.indexOf("=")+1)
        $("#page").val(pageNum)

        $("#search").find("form").submit();
    })

</script>
}

