@model IEnumerable<Web.Models.View.ProjectView>

@Scripts.Render("~/bundles/Approve")


@foreach (var item in Model)
{
    <div class="project-list-horizontal">
        <hr />

        <h3>@Html.DisplayFor(modelItem => item.Title)</h3>

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.UserName)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(modelItem => item.UserName)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.UserEmail)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(modelItem => item.UserEmail)
            </div>
        </div>



        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.ProjectArea)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(modelItem => item.ProjectArea)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.ProjectArea)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(modelItem => item.ProjectArea)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">@Html.DisplayNameFor(model => model.SpecificProjects)</div>

            <div class="col-md-9">
                @Html.DisplayFor(modelItem => item.SpecificProjects)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Impact)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(modelItem => item.Impact)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Skills)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(modelItem => item.Skills)
            </div>
        </div>

        @if (item.SourceLink != null)
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.SourceLink)
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(modelItem => item.SourceLink)
                </div>
            </div>
        }

        @if (item.SuggestedReading != null)
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.SuggestedReading)
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(modelItem => item.SuggestedReading)
                </div>
            </div>
        }
        @if (item.SuggestedMethods != null)
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.SuggestedMethods)
                </div>
                <div class="col-md-9">
                    @Html.DisplayFor(modelItem => item.SuggestedMethods)
                </div>
            </div>
        }

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.Date)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(modelItem => item.Date)
            </div>
        </div>



        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.UserName)
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(modelItem => item.UserName)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                Causes
            </div>
            <div class="col-md-9">
                @string.Join(", ", item.CauseCollection.Select(t => t.Description).ToArray())
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                Level
            </div>
            <div class="col-md-9">
                @string.Join(", ", item.LevelCollection.Select(t => t.Description).ToArray())
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(model => model.SuitableSubjects)
            </div>
            <div class="col-md-9">
                @string.Join(", ", item.SubjectCollection.Select(t => t.Description).ToArray())
            </div>
        </div>

        @if (item.InterestedUsers.Count() > 0)
        {
            <div class="row">
                <div class="col-md-3">
                    @Html.DisplayNameFor(model => model.InterestedUsers)
                </div>
                <div class="col-md-9">
                    @string.Join(", ", item.InterestedUsers.ToArray())
                </div>
            </div>
        }

        <div class="editHidden" id="@item.Id">
            <div class="project-list-horizontal">
                <hr />
                @using (Ajax.BeginForm("Edit", "Projects", new { id = item.Id }, new AjaxOptions() { OnSuccess = "return reloadPage()" }, new { onsubmit = "return onBeforeSubmit(this);", }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Partial("~/Views/Projects/Partials/_EditCreate.cshtml", item)
                }
            </div>
        </div>

        @if (ViewBag.CanApprove != null && ViewBag.CanApprove)
        {
            var approveId = (item.Id + "_approveForm");
            <input type="button" value="Approve" approve-form-id=@approveId class="btn btn-default approve-button" />
            <div class="editHidden">
                @using (Html.BeginForm("ApproveProject", "Projects", null, FormMethod.Post, new { id = @item.Id + "_approveForm" }))
                {
                    @Html.Partial("~/Views/Projects/Partials/_ApproveView.cshtml", new Web.Models.View.ApproveViewModel() { ProjectId = item.Id })
                    <div class="form-group">
                        <input type="submit" value="Approve" class="btn btn-default" />
                    </div>
                }
            </div>

        }
        @if (ViewBag.CanEdit != null && ViewBag.CanEdit == true)
        {
            <input type="button" value="Edit" modal-id="@item.Id" class="btn btn-default editButton" />
            using (Html.BeginForm("Delete", "Projects", new { id = item.Id },FormMethod.Post,new { id = "delete-button" }))
            {
                @Html.AntiForgeryToken();
                <input type="submit" value="Delete" class="btn btn-default" />
            }
        }
    </div>
}

<div id="approve-modal-content">


</div>

<div class="modal fade" id="infoProjectListModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <<div class="modal-dialog">
        <div class="modal-content">
            <div id="modal-projectlist-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    ShowEditModal();
</script>